# Byte-code files
*.pyc
__pycache__/

# Virtual environment
.venv/
venv/
env/

# Editor files
.vscode/
.idea/
.agent/

# Logs
logs/
*.log

# Environment variables
.env

# Other
.DS_Store
*.sqlite3
*.db
_help
TODO.md

